<input type="hidden" name="destination" value="demographics.csv">

<p>Please answer the following questions about your language background</p>

<div align="left">

<p>
<b>What was the first language you learned?</b><br>
<input type="radio" name="first" value="chinese">	Chinese<br>
<input type="radio" name="first" value="french">	French<br>
<input type="radio" name="first" value="hebrew">	Hebrew<br>
<input type="radio" name="first" value="japanese">	Japanese<br>
<input type="radio" name="first" value="korean">	Korean<br>
<input type="radio" name="first" value="english">	English<br>
Other (please specify): <input type="text" name="first"><br>

<p>
<b>What is the language you speak most at home?</b><br>
<input type="radio" name="home" value="chinese">	Chinese<br>
<input type="radio" name="home" value="french">		French<br>
<input type="radio" name="home" value="hebrew">		Hebrew<br>
<input type="radio" name="home" value="japanese">	Japanese<br>
<input type="radio" name="home" value="korean">		Korean<br>
<input type="radio" name="home" value="english">	English<br>
Other (please specify): <input type="text" name="home"><br>

<p>Where were you born?</b><br>
<input type="radio" name="born" value="china">	China<br>
<input type="radio" name="born" value="france">	France<br>
<input type="radio" name="born" value="israel">	Israel<br>
<input type="radio" name="born" value="japan">	Japan<br>
<input type="radio" name="born" value="korea">	Korea<br>
<input type="radio" name="born" value="us">	U.S.<br>
Other (please specify): <input type="text" name="born"><br>

<p>
<b>Where do you live now?</b><br>
<input type="radio" name="live" value="china">	China<br>
<input type="radio" name="live" value="france">	France<br>
<input type="radio" name="live" value="israel">	Israel<br>
<input type="radio" name="live" value="japan">	Japan<br>
<input type="radio" name="live" value="korea">	Korea<br>
<input type="radio" name="live" value="us">	U.S.<br>
Other (please specify): <input type="text" name="live"><br>

<p>
<b>How old are you?</b><br>
<input type="text" name="age">

</div>

<P style="text-align: right;">
<input type="button" value="continue" onClick="Experigen.recordResponse(this);">
	

