
experiments/1-baseline/~$coding-EnglishScope-edwin.xlsx

experiments/1-baseline/~$english-sentences.xlsx
experiments/1-korean-baseline/Submiterator-master/.DS_Store

experiments/1-korean-baseline/.DS_Store

experiments/.DS_Store
abstracts/~$stract.docx
