<div style="text-align: left;">

<p>
Thank you for your time and effort.
</p>

<p>
Please enter your email address below.<br>
<input type="text" name="workerID" SIZE="30" MAXLENGTH="100" style="width: 25em;">
</p>

<input type="button" value="   submit   " onClick="Experigen.recordResponse(this);">

</div>