
<p>이번 설문에 참여해 주셔서 감사합니다.</p>
<p>40개의 슬라이드를 보게 될 것입니다. 각 슬라이드마다 당신은 하나의 그림에 대한 설명을 들을 것입니다. 그림 설명을 듣고 그 설명이 적절한지 7 점 척도로 평가해 보세요.
(7 = 매우 적절함, 1 = 매우 적절하지 못함).</p>
<p>당신이 제공한 이 설문지는 무명이며 당신이 제공한 모든 정보는 노출되지 않습니다.</p>
<p>문장과 그림을 평가하기 전에 당신은 세번의 연습 평가를 하게 될 것입니다.</p>
<p>우선, 당신의 언어 배경에 대한 질문부터 시작하겠습니다.</p>

<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>

