
<p>Thank you for choosing to participate in our study.</p>
<p>In what follows you will be presented with 40 slides. In each slide, you will see an 
image and hear a sentence that describes it. Please evaluate whether or not the sentence 
that you hear appropriately describes the image, by rating it on a 7-point scale 
(7 = completely appropriate, 1 = completely inappropriate).</p>
<p>All information that you provide will remain anonymous and your identity will not be revealed.</p>
<p>Before evaluating the sentence-image pairs, you will complete three practice trials.</p>
<p>First, we'll begin with some questions about your language background.</p>

<div class="trialpartWrapper" style="text-align: left;">
	<p>
	<%= continueButton() %>
</div>

