<input type="hidden" name="destination" value="demographics.csv">

<p>다음 질문에 당신의 언어 배경에 대해 대답해 보세요</p>

<div align="left">

<p>
<b>처음 배운 언어는 무엇입니까?</b><br>
<input type="radio" name="first" value="중국어">		중국어<br>
<input type="radio" name="first" value="프랑스어">		프랑스어<br>
<input type="radio" name="first" value="히브리어">		히브리어<br>
<input type="radio" name="first" value="일본어">		일본어<br>
<input type="radio" name="first" value="한국어">		한국어<br>
<input type="radio" name="first" value="영어">		영어<br>
기타 (자세히 설명해 주세요): <input type="text" name="first"><br>

<p>
<b>집에서 주로 사용하는 언어는 무엇입니까?</b><br>
<input type="radio" name="home" value="중국어">	중국어<br>
<input type="radio" name="home" value="프랑스어">	프랑스어<br>
<input type="radio" name="home" value="히브리어">	히브리어<br>
<input type="radio" name="home" value="일본어">	일본어<br>
<input type="radio" name="home" value="한국어">	한국어<br>
<input type="radio" name="home" value="영어">	영어<br>
기타 (자세히 설명해 주세요): <input type="text" name="home"><br>

<p>어디에서 태어났습니까?</b><br>
<input type="radio" name="born" value="중국">	중국<br>
<input type="radio" name="born" value="프랑스">	프랑스<br>
<input type="radio" name="born" value="이스라엘">	이스라엘<br>
<input type="radio" name="born" value="일본">	일본<br>
<input type="radio" name="born" value="한국">	한국<br>
<input type="radio" name="born" value="미국">	미국<br>
기타 (자세히 설명해 주세요): <input type="text" name="born"><br>

<p>
<b>지금 어디에 삽니까?</b><br>
<input type="radio" name="live" value="중국">	중국<br>
<input type="radio" name="live" value="프랑스">	프랑스<br>
<input type="radio" name="live" value="이스라엘">	이스라엘<br>
<input type="radio" name="live" value="일본">	일본<br>
<input type="radio" name="live" value="한국">	한국<br>
<input type="radio" name="live" value="미국">	미국<br>
기타 (자세히 설명해 주세요): <input type="text" name="live"><br>

<p>
<b>현재 몇 살입니까?</b><br>
<input type="text" name="age">

</div>

<P style="text-align: right;">
<input type="button" value="continue" onClick="Experigen.recordResponse(this);">
	

